/* GLOBAL */
a {
	text-decoration: none;
	color:#222;
}
li {
	list-style-type: none;
}
.row_box {
}
.row_border {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin:10px 0 ;
}
.row_title {
	padding: 5px 15px;
	border-bottom: 1px solid #ccc;
	/*background: #ccc;*/
	/*border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;*/
}
.row_entity {
	padding-top: 15px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
.shadow {
	letter-spacing:0px;
	box-shadow:1px 0px 6px 0px #ccc;
}
.clear {
	clear:both;
}
.ifram_page {
	width: 710px;
	margin:0px auto;
}


/* RESERVE PAGE */
#reserve_main {
}
#reserve_form textarea {
	width: 281px;
	height: 100px;
	max-width: 281px;
	max-height: 200px;
}
#reserve_form input {
	width: 281px;
}

/* DC PAGE */
#lib_main {
	width:998px;
	margin: 100px auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#lib_sidebar {
	float:left;
	width:250px;
	padding: 0 18px 100px 18px;
}
#lib_page {
	float:left;
	width:717px;
	height: 100%;
	border-left:1px solid #ccc;
	margin-left:-1px;
	overflow: hidden;
}
#lib_main #lib_sidebar h5 {
	display: block;
	height: 27px;
	font-weight: bold;
	padding: 2px 0;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
#lib_main #lib_sidebar h5.active {
	color:#70ABD5;
}
.lib_arrow {
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #aaa;
	display: inline-block;
	margin-left: 18px;
	font-size: 1px;
	line-height: 0;
}
.lib_body {
	padding-bottom: 1px;
}
.lib_body li {
	cursor:pointer;
}
.lib_arrow.active {
	border-top-color: #70ABD5;
	border-left-color: transparent;
}

/* IFRAME PAGE */
/* weixin css -- end */
.sub_title_bar.white {
background-color: #fff;
border-bottom: 1px solid #cfcfcf;
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.sub_title_bar:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.sub_title_bar .info {
float: left;
}
.sub_title_bar h3 {
font-weight: 400;
font-style: normal;
font-size: 14px;
}
.sub_title_bar h3 {
font-weight: 400;
font-style: normal;
font-size: 14px;
}
.page_media_list.page_richvideo_list .msg_box {
padding: 20px 46px 0;
}
.msg_box {
display: none;
line-height: 36px;
text-align: center;
}
.msg_box .inner {
background-color: #d6e5f5;
}
.msg_box {
display: none;
line-height: 36px;
text-align: center;
}
.page_media_list .appmsg_list {
margin-bottom: 20px;
border-bottom: 1px solid #e6e6e6;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.appmsg_list:after {
display: inline-block;
width: 100%;
height: 0;
font-size: 0;
margin: 0;
padding: 0;
overflow: hidden;
content: ".";
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.create_access:hover a {
display: inline-block;
}
.create_access {
display: block;
border: 3px dashed #b8b8b8;
line-height: 150px;
font-size: 0;
text-align: center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 20px;
}
div.appmsg_col {
display: inline-block;
vertical-align: top;
width: 48%;
font-size: 14px;
text-align: left;
font-size: 14px;
letter-spacing: normal;
}
div#appmsgList.appmsg_list
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.icon42_common.add_gray {
background: url("/PUBLIC/images/base_z.png") 0 -3137px no-repeat;
}
.create_access i {
cursor: pointer;
}
.icon42_common {
width: 42px;
height: 42px;
vertical-align: middle;
display: inline-block;
line-height: 100px;
overflow: hidden;
}
user agent stylesheeti, cite, em, var, address, dfn {
font-style: italic;
}
.create_access {
display: block;
border: 3px dashed #b8b8b8;
line-height: 150px;
font-size: 0;
text-align: center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 20px;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.create_access {
display: block;
border: 3px dashed #b8b8b8;
line-height: 150px;
font-size: 0;
text-align: center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 20px;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.create_access i {
cursor: pointer;
}
.icon_richvideo_create {
background: url("/PUBLIC/images/richvideo_z.png") 0 0 no-repeat;
width: 45px;
height: 54px;
vertical-align: middle;
display: inline-block;
}
a:hover .icon_richvideo_create {
background: url("/PUBLIC/images/richvideo_z.png") 0 -64px no-repeat;
}
a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
.create_access {
display: block;
border: 3px dashed #b8b8b8;
line-height: 150px;
font-size: 0;
text-align: center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 20px;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.tool_area {
padding: 0 20px;
}
.tool_area:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.pagination_wrp {
text-align: right;
}
/* weixin css -- end */
.parent_title_bar {
line-height: 35px;
border-bottom: 2px solid #cfcfcf;
}
.parent_title_bar:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.parent_title_bar h3 {
font-size: 16px;
font-weight: 400;
font-style: normal;
}
.parent_title_bar {
line-height: 35px;
border-bottom: 2px solid #cfcfcf;
}
.menu_setting_area {
padding-bottom: 20px;
}
.menu_setting_area_hd {
padding-top: 20px;
padding-bottom: 12px;
}
.menu_setting_area_hd h3 {
font-weight: 400;
font-style: normal;
font-size: 15px;
}
.sub_title_bar h4 {
float: left;
font-weight: 400;
font-style: normal;
font-size: 14px;
}
.menu_setting_area_hd p {
color: #7b7b7b;
}
.edit .menu_setting_area_bd {
border: 1px solid #ccc;
}
.inner_container_box {
background-color: #fff;
border: 1px solid #d3d3d3;
box-shadow: 0 1px 1px 0 #e3e3e3;
-moz-box-shadow: 0 1px 1px 0 #e3e3e3;
-webkit-box-shadow: 0 1px 1px 0 #e3e3e3;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
/**/
width: 753px;
}
.inner_container_box:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.side_l.inner_container_box .inner_side {
float: left;
border-right: 1px solid #d3d3d3;
}
.page_menu_setting .inner_side {
width: 210px;
}
.inner_side {
width: 185px;
}
.col_side, .inner_side {
min-height: 1px;
}
.menu_setting_area_bd .sub_title_bar {
line-height: 36px;
padding: 0 12px;
font-size: 0;
}
.sub_title_bar.light {
background-color: #f3f3f3;
border-bottom: 1px solid #cfcfcf;
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.sub_title_bar:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.menu_setting_area_bd .sub_title_bar .btn-wrp {
text-align: right;
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.menu_setting_area_bd .sub_title_bar .btn {
padding: 0 10px;
height: 25px;
line-height: 25px;
margin-left: 8px;
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.page_menu_setting .inner_menu_box {
position: relative;
margin-bottom: 14px;
}
.inner_menu:first-child {
border-top-width: 0;
}
.inner_menu {
border-top: 1px solid #ccc;
}
dl {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.inner_menu_box.with_switch .icon_inner_menu_switch {
position: absolute;
left: 14px;
top: 50%;
margin-top: -2px;
display: inline-block;
width: 0;
height: 0;
border-width: 5px;
border-style: dashed;
border-color: transparent;
border-bottom-width: 0;
border-top-color: #aaa;
border-top-style: solid;
}
.inner_menu_box.with_switch dt .inner_menu_link {
color: #222;
padding-left: 30px;
}
.inner_menu_link {
display: block;
color: #222;
padding-left: 1em;
text-decoration: none;
}
.inner_menu_link strong {
display: inline-block;
color: #222;
margin-top: -2px;
width: auto;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
word-wrap: normal;
max-width: 80px;
font-weight: 400;
font-style: normal;
vertical-align: middle;
cursor: pointer;
}
.inner_menu_item {
position: relative;
line-height: 32px;
}
.inner_main {
display: table-cell;
vertical-align: top;
float: none;
/*width: auto;*/
width: 566px;
}
.inner_container_box .bd {
min-height: 530px;
}
.sub_title_bar.light {
background-color: #f3f3f3;
border-bottom: 1px solid #cfcfcf;
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.action_content {
display: none;
}
.action_content.default .action_tips {
padding-top: 200px;
text-align: center;
}
.action_content.url {
padding-left: 80px;
}
.action_content.url .action_tips {
padding: 60px 0 5px;
}
.action_content.url .frm_control_group {
margin-bottom: 0;
}
.frm_control_group {
padding-bottom: 25px;
}
.frm_control_group:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.action_content.url .frm_input_box {
width: 340px;
}
.frm_input_box {
display: inline-block;
position: relative;
height: 30px;
line-height: 30px;
vertical-align: middle;
width: 278px;
font-size: 14px;
padding: 0 10px;
border: 1px solid #c3c3c3;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background-color: #fff;
}
.frm_input {
height: 22px;
margin: 4px 0;
}
.frm_input, .frm_textarea {
width: 100%;
background-color: transparent;
border: 0;
outline: 0;
}
.frm_msg.fail {
color: #b11516;
}
.frm_msg {
display: none;
overflow: hidden;
width: 300px;
}
.frm_msg i {
float: left;
font-weight: 400;
font-style: normal;
margin-right: 3px;
}
.main_bd a {
	color:#222;
	text-decoration: none;
}
.main_bd a.btn {
	color: #222;
}
.main_bd a.btn-success {
	color: white;
}
.sub_title_bar.light .btn-wrp {
float: right;
margin-right: -9px;
margin-top: -36px;
}
.inner_menu .menu_opr {
display: none;
position: absolute;
top: 0;
right: 1em;
}
.inner_menu .menu_opr a {
display: inline-block;
margin-left: .5em;
margin-top: -0.2em;
}
.icon14_common {
width: 14px;
height: 14px;
vertical-align: middle;
display: inline-block;
line-height: 100px;
overflow: hidden;
}
.icon14_common.add_gray {
background: url("/PUBLIC/images/base_z.png") 0 -1395px no-repeat;
}
.icon14_common.add_gray:hover {
background: url("/PUBLIC/images/base_z.png") 0 -1419px no-repeat;
}
.icon14_common.edit_gray {
background: url("/PUBLIC/images/base_z.png") 0 -1443px no-repeat;
}
.icon14_common.edit_gray:hover {
background: url("/PUBLIC/images/base_z.png") 0 -1467px no-repeat;
}
.icon14_common.del_gray {
background: url("/PUBLIC/images/base_z.png") 0 -1491px no-repeat;
}
.icon14_common.del_gray:hover {
background: url("/PUBLIC/images/base_z.png") 0 -1515px no-repeat;
}
.icon14_common.sort_gray {
background: url("/PUBLIC/images/base_z.png") 0 -1539px no-repeat;
}
.icon14_common.sort_gray:hover {
background: url("/PUBLIC/images/base_z.png") 0 -1563px no-repeat;
}
.inner_menu_item:hover, .inner_menu_item.selected {
background-color: #d6d6d6;
}
.inner_menu_box.blue .inner_menu_item:hover, .inner_menu_box.blue .inner_menu_item.selected {
background-color: #dae8f8;
}
.inner_menu {
	margin:0px;
}
.inner_menu_box.with_switch .icon_dot {
position: absolute;
top: 50%;
left: 30px;
margin-top: -16px;
}
.icon_dot {
display: inline-block;
font-weight: 400;
font-style: normal;
vertical-align: middle;
font-size: 8px;
color: #aaa;
}
.inner_menu_box.with_switch dd .inner_menu_link {
padding-left: 42px;
}
.inner_menu_item:hover .menu_opr {
	display: inline;
}
.icon_menu_action.send {
background: url("/PUBLIC/images/advanced_menu_setting_z.png") 0 0 no-repeat;
}
.icon_menu_action {
width: 144px;
height: 144px;
vertical-align: middle;
display: inline-block;
}
.action_content.init a {
color: #222;
text-decoration: none;
display: inline-block;
margin-left: 15px;
margin-right: 15px;
}
.action_content.init {
padding: 20px;
text-align: center;
}
.icon_menu_action.url {
background: url("/PUBLIC/images/advanced_menu_setting_z.png") 0 -308px no-repeat;
}
.action_content.init a strong {
display: block;
font-weight: 400;
font-style: normal;
}
a:hover .icon_menu_action.send {
background: url("/PUBLIC/images/advanced_menu_setting_z.png") 0 -154px no-repeat;
}
a:hover .icon_menu_action.url {
background: url("/PUBLIC/images/advanced_menu_setting_z.png") 0 -461px no-repeat;
}
.create_access:hover .add_gray {
display: none;
}
.create_access a strong {
display: block;
font-weight: 400;
font-style: normal;
}
.create_access a {
display: none;
vertical-align: middle;
margin-left: 10px;
margin-right: 10px;
color: #d9d9d9;
font-size: 14px;
line-height: normal;
}
.tool_bar.border.tc {
	width: 115px;
	margin: 0 auto;
}
.main_bd {
margin: 0 auto;
width:809px;
padding-bottom: 40px;
padding: 20px 28px 100px;
}




#add_video {
	width: 60%;
	height: 200px;
	margin: 15px auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:5px dashed #ccc;
	/*background-image: url("");*/
	background-position: 0px 0px;
	/* << url */
}