@media screen and (max-width: 9999px) {

#reserve_main {
	width:400px;
	margin: 10px auto;
}

}

@media screen and (max-width: 1024px) {
	
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 480px) {

.row_title {/*
	padding-left: 5px;
	padding-top: 5px;*/
}

#reserve_main {
	padding: 0 15px;
	width:auto;
}
#reserve_form label, #reserve_form input {
	padding-right: 0px;
}
#reserve_form label {
	padding-left:21px;
}
#reserve_form input {
	width:200px;
}
#reserve_form textarea {
	width: 200px;
	height: 100px;
}

}