/* GLOBAL */
a {
	text-decoration: none;
	color:#222;
}
li {
	list-style-type: none;
}
.row_box {
}
.row_border {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin:10px 0 ;
}
.row_title {
	padding: 5px 15px;
	border-bottom: 1px solid #ccc;
	/*background: #ccc;*/
	/*border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;*/
}
.row_entity {
	padding-top: 15px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
.shadow {
	letter-spacing:0px;
	box-shadow:1px 0px 6px 0px #ccc;
}
.clear {
	clear:both;
}
.ifram_page {
	width: 710px;
	margin:0px auto;
}


/* RESERVE PAGE */
#reserve_main {
}
#reserve_form textarea {
	width: 281px;
	height: 100px;
	max-width: 281px;
	max-height: 200px;
}
#reserve_form input {
	width: 281px;
}
