/* GLOBAL */
a {
	text-decoration: none;
	color:#222;
}
li {
	list-style-type: none;
}
.maskPre {
	display: none;
}
.mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	z-index: 2;
}
.row_box {
}
.row_border {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin:10px 0 ;
}
.row_title {
	padding: 5px 15px;
	border-bottom: 1px solid #ccc;
	/*background: #ccc;*/
	/*border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;*/
}
.row_entity {
	padding-top: 15px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
.shadow {
	letter-spacing:0px;
	box-shadow:1px 0px 6px 0px #ccc;
}
.clear {
	clear:both;
}
.ifram_page {
	width: 710px;
	margin:0px auto;
}


/* RESERVE PAGE */
#reserve_main {
}
#reserve_form textarea {
	width: 281px;
	height: 100px;
	max-width: 281px;
	max-height: 200px;
}
#reserve_form input {
	width: 281px;
}

/* DC PAGE */
#lib_main {
	width: 1015px;
	margin: 100px auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#lib_sidebar {
	float:left;
	width:213px;
	padding: 0 18px 100px 18px;
}
#lib_page {
	float:left;
	width:800px;
	height: 100%;
	border-left:1px solid #ccc;
	margin-left:-1px;
	overflow: hidden;
}
#lib_page .container {
	width: 800px;
	height: 1000px;
}
#lib_main #lib_sidebar h5 {
	display: block;
	height: 27px;
	font-weight: bold;
	padding: 2px 0;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
#lib_main #lib_sidebar h5.active {
	color:#70ABD5;
}
.lib_arrow {
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #aaa;
	display: inline-block;
	margin-left: 18px;
	font-size: 1px;
	line-height: 0;
}
.lib_body {
	padding-bottom: 1px;
}
.lib_body li {
	cursor:pointer;
}
.lib_arrow.active {
	border-top-color: #70ABD5;
	border-left-color: transparent;
}

/* IFRAME PAGE */
/* weixin css -- end */
.sub_title_bar.white {
background-color: #fff;
border-bottom: 1px solid #cfcfcf;
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.sub_title_bar:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.sub_title_bar .info {
float: left;
}
.sub_title_bar h3 {
font-weight: 400;
font-style: normal;
font-size: 14px;
}
.sub_title_bar h3 {
font-weight: 400;
font-style: normal;
font-size: 14px;
}
.page_media_list.page_richvideo_list .msg_box {
padding: 20px 46px 0;
}
.msg_box {
display: none;
line-height: 36px;
text-align: center;
}
.msg_box .inner {
background-color: #d6e5f5;
}
.msg_box {
display: none;
line-height: 36px;
text-align: center;
}
.page_media_list .appmsg_list {
margin-bottom: 20px;
border-bottom: 1px solid #e6e6e6;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.appmsg_list:after {
display: inline-block;
width: 100%;
height: 0;
font-size: 0;
margin: 0;
padding: 0;
overflow: hidden;
content: ".";
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.create_access:hover a {
display: inline-block;
}
.create_access {
display: block;
border: 3px dashed #b8b8b8;
line-height: 150px;
font-size: 0;
text-align: center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 20px;
}
div.appmsg_col {
display: inline-block;
vertical-align: top;
width: 48%;
font-size: 14px;
text-align: left;
font-size: 14px;
letter-spacing: normal;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.icon42_common.add_gray {
background: url("../images/base_z.png") 0 -3137px no-repeat;
}
.create_access i {
cursor: pointer;
}
.icon42_common {
width: 42px;
height: 42px;
vertical-align: middle;
display: inline-block;
line-height: 100px;
overflow: hidden;
}
user agent stylesheeti, cite, em, var, address, dfn {
font-style: italic;
}
.create_access {
display: block;
border: 3px dashed #b8b8b8;
line-height: 150px;
font-size: 0;
text-align: center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 20px;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.create_access {
display: block;
border: 3px dashed #b8b8b8;
line-height: 150px;
font-size: 0;
text-align: center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 20px;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.create_access i {
cursor: pointer;
}
.icon_richvideo_create {
background: url("../images/richvideo_z.png") 0 0 no-repeat;
width: 45px;
height: 54px;
vertical-align: middle;
display: inline-block;
}
a:hover .icon_richvideo_create {
background: url("../images/richvideo_z.png") 0 -64px no-repeat;
}
a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
.create_access {
display: block;
border: 3px dashed #b8b8b8;
line-height: 150px;
font-size: 0;
text-align: center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 20px;
}
.appmsg_list {
text-align: justify;
text-justify: distribute-all-lines;
text-align-last: justify;
font-size: 0;
padding-top: 38px;
margin: 0 46px;
letter-spacing: -4px;
}
.tool_area {
padding: 0 20px;
}
.tool_area:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.pagination_wrp {
text-align: right;
}
/* weixin css -- end */
.parent_title_bar {
line-height: 35px;
border-bottom: 2px solid #cfcfcf;
}
.parent_title_bar:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.parent_title_bar h3 {
font-size: 16px;
font-weight: 400;
font-style: normal;
}
.parent_title_bar {
line-height: 35px;
border-bottom: 2px solid #cfcfcf;
}
.menu_setting_area {
padding-bottom: 20px;
}
.menu_setting_area_hd {
padding-top: 20px;
padding-bottom: 12px;
}
.menu_setting_area_hd h3 {
font-weight: 400;
font-style: normal;
font-size: 15px;
}
.sub_title_bar h4 {
float: left;
font-weight: 400;
font-style: normal;
font-size: 14px;
}
.menu_setting_area_hd p {
color: #7b7b7b;
}
.edit .menu_setting_area_bd {
border: 1px solid #ccc;
}
.inner_container_box {
background-color: #fff;
border: 1px solid #d3d3d3;
box-shadow: 0 1px 1px 0 #e3e3e3;
-moz-box-shadow: 0 1px 1px 0 #e3e3e3;
-webkit-box-shadow: 0 1px 1px 0 #e3e3e3;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
/**/
width: 753px;
}
.inner_container_box:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.side_l.inner_container_box .inner_side {
float: left;
border-right: 1px solid #d3d3d3;
}
.page_menu_setting .inner_side {
width: 210px;
}
.inner_side {
width: 185px;
}
.col_side, .inner_side {
min-height: 1px;
}
.menu_setting_area_bd .sub_title_bar {
line-height: 36px;
padding: 0 12px;
font-size: 0;
}
.sub_title_bar.light {
background-color: #f3f3f3;
border-bottom: 1px solid #cfcfcf;
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.sub_title_bar:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.menu_setting_area_bd .sub_title_bar .btn-wrp {
text-align: right;
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.menu_setting_area_bd .sub_title_bar .btn {
padding: 0 10px;
height: 25px;
line-height: 25px;
margin-left: 8px;
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.page_menu_setting .inner_menu_box {
position: relative;
margin-bottom: 14px;
}
.inner_menu:first-child {
border-top-width: 0;
}
.inner_menu {
border-top: 1px solid #ccc;
}
dl {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.inner_menu_box.with_switch .icon_inner_menu_switch {
position: absolute;
left: 14px;
top: 50%;
margin-top: -2px;
display: inline-block;
width: 0;
height: 0;
border-width: 5px;
border-style: dashed;
border-color: transparent;
border-bottom-width: 0;
border-top-color: #aaa;
border-top-style: solid;
}
.inner_menu_box.with_switch dt .inner_menu_link {
color: #222;
padding-left: 30px;
}
.inner_menu_link {
display: block;
color: #222;
padding-left: 1em;
text-decoration: none;
}
.inner_menu_link strong {
display: inline-block;
color: #222;
margin-top: -2px;
width: auto;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
word-wrap: normal;
max-width: 80px;
font-weight: 400;
font-style: normal;
vertical-align: middle;
cursor: pointer;
}
.inner_menu_item {
position: relative;
line-height: 32px;
}
.inner_main {
display: table-cell;
vertical-align: top;
float: none;
/*width: auto;*/
width: 566px;
}
.inner_container_box .bd {
min-height: 530px;
}
.sub_title_bar.light {
background-color: #f3f3f3;
border-bottom: 1px solid #cfcfcf;
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.sub_title_bar {
line-height: 38px;
padding: 0 20px;
}
.action_content {
display: none;
}
.action_content.default .action_tips {
padding-top: 200px;
text-align: center;
}
.action_content.url {
padding-left: 80px;
}
.action_content.url .action_tips {
padding: 60px 0 5px;
}
.action_content.url .frm_control_group {
margin-bottom: 0;
}
.frm_control_group {
padding-bottom: 25px;
}
.frm_control_group:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.action_content.url .frm_input_box {
width: 340px;
}
.frm_input, .frm_textarea {
width: 100%;
background-color: transparent;
border: 0;
outline: 0;
}
.frm_msg.fail {
color: #b11516;
}
.frm_msg {
display: none;
overflow: hidden;
width: 300px;
}
.frm_msg i {
float: left;
font-weight: 400;
font-style: normal;
margin-right: 3px;
}
.main_bd a {
	color:#222;
	text-decoration: none;
}
.main_bd a.btn {
	color: #222;
}
.main_bd a.btn-success {
	color: white;
}
.sub_title_bar.light .btn-wrp {
float: right;
}
.inner_menu .menu_opr {
display: none;
position: absolute;
top: 0;
right: 1em;
}
.inner_menu .menu_opr a {
display: inline-block;
margin-left: .5em;
margin-top: -0.2em;
}
.icon14_common {
width: 14px;
height: 14px;
vertical-align: middle;
display: inline-block;
line-height: 100px;
overflow: hidden;
}
.icon14_common.add_gray {
background: url("../images/base_z.png") 0 -1395px no-repeat;
}
.icon14_common.add_gray:hover {
background: url("../images/base_z.png") 0 -1419px no-repeat;
}
.icon14_common.edit_gray {
background: url("../images/base_z.png") 0 -1443px no-repeat;
}
.icon14_common.edit_gray:hover {
background: url("../images/base_z.png") 0 -1467px no-repeat;
}
.icon14_common.del_gray {
background: url("../images/base_z.png") 0 -1491px no-repeat;
}
.icon14_common.del_gray:hover {
background: url("../images/base_z.png") 0 -1515px no-repeat;
}
.icon14_common.sort_gray {
background: url("../images/base_z.png") 0 -1539px no-repeat;
}
.icon14_common.sort_gray:hover {
background: url("../images/base_z.png") 0 -1563px no-repeat;
}
.inner_menu_item:hover, .inner_menu_item.selected {
background-color: #d6d6d6;
}
.inner_menu_box.blue .inner_menu_item:hover, .inner_menu_box.blue .inner_menu_item.selected {
background-color: #dae8f8;
}
.inner_menu {
	margin:0px;
}
.inner_menu_box.with_switch .icon_dot {
position: absolute;
top: 50%;
left: 30px;
margin-top: -16px;
}
.icon_dot {
display: inline-block;
font-weight: 400;
font-style: normal;
vertical-align: middle;
font-size: 8px;
color: #aaa;
}
.inner_menu_box.with_switch dd .inner_menu_link {
padding-left: 42px;
}
.inner_menu_item:hover .menu_opr {
	display: inline;
}
.icon_menu_action.send {
background: url("../images/advanced_menu_setting_z.png") 0 0 no-repeat;
}
.icon_menu_action {
width: 144px;
height: 144px;
vertical-align: middle;
display: inline-block;
}
.action_content.init a {
color: #222;
text-decoration: none;
display: inline-block;
margin-left: 15px;
margin-right: 15px;
}
.action_content.init {
padding: 20px;
text-align: center;
}
.icon_menu_action.url {
background: url("../images/advanced_menu_setting_z.png") 0 -308px no-repeat;
}
.action_content.init a strong {
display: block;
font-weight: 400;
font-style: normal;
}
a:hover .icon_menu_action.send {
background: url("../images/advanced_menu_setting_z.png") 0 -154px no-repeat;
}
a:hover .icon_menu_action.url {
background: url("../images/advanced_menu_setting_z.png") 0 -461px no-repeat;
}
.create_access:hover .add_gray {
display: none;
}
.create_access a strong {
display: block;
font-weight: 400;
font-style: normal;
}
.create_access a {
display: none;
vertical-align: middle;
margin-left: 10px;
margin-right: 10px;
color: #d9d9d9;
font-size: 14px;
line-height: normal;
}
.tool_bar.border.tc {
	width: 115px;
	margin: 0 auto;
}
.main_bd {
width:747px;
padding-bottom: 40px;
}
.dialog_wrp {
position: fixed;
top: 50%;
left: 50%;
width: 720px;
z-index: 3;
}
.dialog {
overflow: hidden;
background-color: #f3f3f3;
border: 1px solid #222;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
.dialog_hd {
position: relative;
padding: 0 20px;
line-height: 38px;
height: 30px;
background-color: #e7e7e7;
background-image: -moz-linear-gradient(top,#f2f2f2 0,#e0e0e0 100%);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#e0e0e0));
background-image: -webkit-linear-gradient(top,#f2f2f2 0,#e0e0e0 100%);
background-image: -o-linear-gradient(top,#f2f2f2 0,#e0e0e0 100%);
background-image: linear-gradient(to bottom,#f2f2f2 0,#e0e0e0 100%);
border-bottom: 1px solid #c2c2c2;
}
.dialog_hd h3 {
color: #222;
}
.dialog_hd .pop_closed {
position: absolute;
top: 14px;
right: 20px;
width: 16px;
height: 16px;
line-height: 999em;
overflow: hidden;
}
.pop_closed {
background: url("../images/base_z.png") 0 -3227px no-repeat;
}
.simple .dialog_bd {
padding: 90px 0 110px;
text-align: center;
}
.dialog_bd {
padding: 55px 45px;
}
.simple .dialog_bd {
padding: 90px 0 110px;
text-align: center;
}
.simple_dialog_content {
display: inline-block;
text-align: left;
width: 400px;
}
.simple .dialog_bd {
padding: 90px 0 110px;
text-align: center;
}
.simple_dialog_content {
display: inline-block;
text-align: left;
width: 400px;
}
.frm_control_group {
padding-bottom: 25px;
}
.frm_control_group:after {
content: "\200B";
display: block;
height: 0;
clear: both;
}
.simple_dialog_content {
display: inline-block;
text-align: left;
width: 400px;
}
.frm_input_box {
display: inline-block;
position: relative;
height: 30px;
line-height: 30px;
vertical-align: middle;
width: 278px;
font-size: 14px;
padding: 0 10px;
/*border: 1px solid #c3c3c3;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background-color: #fff;*/
}
.simple_dialog_content .frm_textarea_box, .simple_dialog_content .frm_input_box {
display: block;
width: auto;
}
.simple_dialog_content {
display: inline-block;
text-align: left;
width: 400px;
}
.dialog_ft {
margin: 0 20px;
padding: 25px 0 50px;
text-align: center;
border-top: 1px solid #c8c8c8;
box-shadow: inset 0 1px 0 #fbfbfb;
-moz-box-shadow: inset 0 1px 0 #fbfbfb;
-webkit-box-shadow: inset 0 1px 0 #fbfbfb;
}










#add_video {
	width: 60%;
	height: 200px;
	margin: 15px auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:5px dashed #ccc;
	/*background-image: url("");*/
	background-position: 0px 0px;
	/* << url */
}

/*header*/
.account {
    float: right;
    padding-top: 10px;
    font-size: 0
}

.account a {
    color: #222
}

.account a:hover {
    color: #2e7dc6
}

.account a.account_primary_link {
    color: #2e7dc6
}

.account_meta {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    font-size: 14px
}

.account_info {
    position: relative;
    margin-right: 5px
}

.account_info .avatar {
    position: absolute;
    top: 0;
    left: -50px;
    width: 38px;
    height: 38px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #f0f0f0
}

.account_info .type {
    position: absolute;
    top: 2px;
    left: 0
}

.account_info .nickname {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    margin-top: 18px
}

.account_inbox {
    position: relative;
    font-size: 11px;
    z-index: 1;
    margin-top: 1px
}

.account_inbox.on .account_inbox_switch {
    position: relative;
    z-index: 1;
    border-color: #adadad;
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    background-color: #eee
}

.account_inbox_switch {
    display: block;
    width: 45px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    border: 1px solid transparent;
    border-bottom-width: 0
}

.account_inbox_switch:hover {
    text-decoration: none
}

.account_inbox_switch i.icon_common {
    cursor: pointer;
    vertical-align: top;
    margin-top: 16px
}

.account_inbox_switch i.inbox {
    *margin-top: 6px
}

.account_inbox_switch i.notices {
    *margin-top: 6px;
    margin-left: -12px
}

.icon_common.inbox {
    background: url("base.png") 0 -562px no-repeat;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden
}


.account_meta a{
	text-decoration: none;
}
a:hover {
    text-decoration: underline
}
.account_message_box {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: -1px;
    padding: .5em 0;
    border: 1px solid #adadad;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    background-color: #eee
}

.account_message_box ul {
    width: 190px
}

.account_message_box li {
    min-height: 32px
}

.account_message_link {
    position: relative;
    display: block;
    line-height: 32px;
    padding-left: 1em
}

.account_message_link strong {
    display: block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin-right: 4em;
    font-weight: 400;
    font-style: normal;
    cursor: pointer
}

.account_message_link .read_more {
    position: absolute;
    right: 1em;
    top: 0;
    color: #2e7dc6;
    cursor: pointer
}

.account_message_link:hover {
    background-color: #eee;
    text-decoration: none
}

.btn.btn_inbox_closed {
    display: block;
    margin: .5em 1em 0;
    background-color: #f4f4f4;
    background-image: -moz-linear-gradient(top,#f9f9f9 0,#f0f0f0 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#f0f0f0));
    background-image: -webkit-linear-gradient(top,#f9f9f9 0,#f0f0f0 100%);
    background-image: -o-linear-gradient(top,#f9f9f9 0,#f0f0f0 100%);
    background-image: linear-gradient(to bottom,#f9f9f9 0,#f0f0f0 100%);
    border-color: #c3c3c3;
    color: #000;
    height: 24px;
    line-height: 24px;
    *line-height: 22px;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    font-size: 11px
}

.btn.btn_inbox_closed:hover {
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top,#f9f9f9 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#f8f8f8));
    background-image: -webkit-linear-gradient(top,#f9f9f9 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#f9f9f9 0,#f8f8f8 100%);
    background-image: linear-gradient(to bottom,#f9f9f9 0,#f8f8f8 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    color: #000
}

.btn.btn_inbox_closed button {
    color: #000
}

.btn.btn_inbox_closed:hover {
    color: #222
}

.account_logout a {
    display: inline-block;
    margin-left: -1px;
    margin-top: 18px;
    padding-left: 14px;
    box-shadow: inset 1px 0 0 0 #fff;
    -moz-box-shadow: inset 1px 0 0 0 #fff;
    -webkit-box-shadow: inset 1px 0 0 0 #fff;
    border-left: 1px solid #adadad
}

.account_faq {
    padding-top: 18px
}

.account_faq a {
    display: inline-block
}

.logo {
    float: left;
    padding-top: 8px;
    font-size: 24px;
    margin: 0;
}

.logo a {
    display: block;
    width: 248px;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    *background: transparent url(bg_logo.png) 0 0 no-repeat;
    *line-height: 120px
}

.logo a:before {
    display: inline-block;
    content: url(bg_logo.png)
}

.head .inner {
    *zoom: 1;
    height: 60px
}

.head .inner:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.head .inner.wrp {
    width: 1000px;
    margin-left: auto;
    margin-right: auto
}

.head_box {
    position: relative;
    background-color: #f3f3f3;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15),inset 0 -1px 0 0 #fcfcfc;
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15),inset 0 -1px 0 0 #fcfcfc;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15),inset 0 -1px 0 0 #fcfcfc;
    border-top: 4px solid #67ad03;
    border-bottom: 1px solid #c3c3c3
}
.icon_service_label {
    background: url("base.png") 0 -1297px no-repeat;
    width: 38px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden
}
/*footer*/
.foot {
    padding: 24px 0;
    color: #dadada;
    text-align: center;
    background-color: #727171
}
.ft.links {
    font-size: 12px
}

.ft .links_item {
    border-left-color: #dadada
}

.ft .links_item a {
    color: #dadada
}
.links_item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 1em;
    line-height: 1em;
    border-left: 1px solid #797979
}

.links_item.no_extra {
    border-left-width: 0
}

.links_item a {
    display: block;
    color: #797979
}

.copyright {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
