<div class="head" id="header">          
	<div class="head_box">
	<div class="inner wrp">
		<h1 class="logo">
			<a href="/" title="微信公众平台"></a>
		</h1>
		<div class="account">
			<div class="account_meta account_info">
				<a href="/cgi-bin/settingpage?t=setting/index&action=index&token=23372849&lang=zh_CN" class="nickname">成都志鹏俊马科技有限公司</a>
				<label for="" class="type icon_service_label">服务号</label>
				<a href="/cgi-bin/settingpage?t=setting/index&action=index&token=23372849&lang=zh_CN">
				<img src="Public/images/user.jpg" class="avatar"></a>
			</div>
			<div id="accountArea" class="account_meta account_inbox">
				<a href="/cgi-bin/frame?t=notification/index_frame&lang=zh_CN&token=23372849" class="account_inbox_switch"><i class="icon_common inbox">通知</i>&nbsp; </a> 
			</div>
			<div class="account_meta account_logout">
			<a id="logout" href="/cgi-bin/logout?t=wxm-logout&lang=zh_CN&token=23372849">退出</a>
			</div>
		</div>
	</div>
	</div>
</div> 